*{
    font-family: 'Lato', sans-serif;
    
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    background: linear-gradient(135deg, #ffffff81,#8656f7);
    
  }
  

#timer-counter{
    color: #fff;
    font-size: 15px;
}


  .timer {
    text-align: center;
    font-size: 22px;
  }
  
  h2 {
    color: #fff; /* Roxo */
    font-size: 35px;
  }

  .container{
    background: transparent;
    border-radius: 5px;
    box-sizing: border-box;
  
  }

  
  .controls button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color:   #8656f7;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .controls button:hover {
    background-color: #524bcf; /* Roxo mais escuro */
  }
  
  #session-counter {
    font-size: 24px;
    font-weight: bold;
  }
  
  .break {
    margin-top: 20px;
  }
  
  .break button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #00000046;
    color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .break button:hover {
    background-color: #1a1a1a; /* Preto mais escuro */
  }
  